<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerElement">

    <title>Webshop</title>

</head>
<body>
<header th:replace="fragments/top_menu :: top_menuElement"></header>
    <div class="col-auto">

        <h1>Virksomhedsbeskrivelse</h1>

        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th hidden>Id</th>
                <th>Beskrivelse</th>
                <th>Produktet</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="CompanyDescription : ${companyDescription}">
                <td hidden th:text="${CompanyDescription.companyDescriptionId}"></td>
                <td th:text="${CompanyDescription.descriptionCompany}"></td>
                <td>
                    <a class="btn btn-primary" th:href="@{'/company_descriptions/update/' + ${CompanyDescription.companyDescriptionId}}" role="button">Opdater</a>
                    <a class="btn btn-primary" th:href="@{'/company_descriptions/delete/' + ${CompanyDescription.companyDescriptionId}}" role="button">Slet</a>
                </td>
            </tr>
            </tbody>
        </table>

</div>
<footer th:replace="fragments/footer :: footerElement"></footer>
</body>
</html>