<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerElement">
    <title>Update</title>
</head>
<body>

<form th:action="@{/company_descriptions/update}" th:object="${companyDescription}" method="post">

    <div class="col-auto">
        <div class="col-md-6">
            <h1>Update Company Description</h1>
            <input type="hidden" name="id" placeholder="Id" th:field="*{id}">
        </div>

        <div class="form-group col-md-6" >
            <label for="CompanyDescription">Virksomhedsbeskrivelse:</label>
            <input type="text" name="companyDescription" id="CompanyDescription" class="form-control" placeholder="Virksomhedsbeskrivelse" th:field="*{descriptionCompany}">
        </div>

        <div class="col-md-6" >
            <button type="submit" class="btn btn-primary">Opdater</button>
        </div>
    </div>
</form>

<footer th:replace="fragments/footer :: footerElement"></footer>
</body>
</html>