<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerElement">
    <title>Create</title>
</head>
<body>
    <header th:replace="fragments/top_menu :: top_menuElement"></header>
        <form th:action="@{/products/create}" th:object="${product}" method="post">
            <div class="col-auto">

                <div class="col-md-6">
                    <h1>Create Product</h1>
                </div>

                <div class="form-group col-md-6" >
                    <label for="Name">Navn:</label>
                    <input type="text" name="name" id="Name" class="form-control" placeholder="Navn" th:field="*{productName}">
                    <span th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"></span>
                </div>

                <div class="form-group col-md-6">
                    <label for="Price">Pris:</label>
                    <input type="number" step="any" name="price" id="Price" class="form-control" placeholder="Pris" th:field="*{price}">
                    <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
                </div>

                <div class="form-group col-md-6">
                    <label for="Description">Beskrivelse:</label>
                    <textarea name="description" id="Description" class="form-control" placeholder="Beskrivelse"
                              th:field="*{productDescription}" required></textarea>
                    <span th:if="${#fields.hasErrors('productDescription')}" th:errors="*{productDescription}"></span>
                </div>

                <div class="form-group col-md-6">
                    <label for="CategoryName">Kategori:</label>
                    <select class="form-control col-md-6" id="CategoryName" th:field="*{categories}" multiple>
                        <option value="">Vælg kategori</option>
                        <option th:each="Category : ${category}"
                                th:value="${Category.categoryId}"
                                th:text="${Category.categoryName}">
                        </option>
                    </select>
                </div>


                <div class="form-group col-md-6">
                    <label for="CompanyName">Virksomhedens navn:</label>
                    <select class="form-control col-md-6" id="CompanyName" th:field="*{company}">
                        <option th:each="Company : ${company}"
                                th:value="${Company.companyId}"
                                th:text="${Company.companyName}">
                        </option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label for="CompanyDescription">Virksomhedsbeskrivelse:</label>
                    <textarea name="companyDescription" id="CompanyDescription" class="form-control"
                              placeholder="Virksomhedsbeskrivelse" th:field="*{companyDescription.descriptionCompany}" required></textarea>
                    <span th:if="${#fields.hasErrors('companyDescription.descriptionCompany')}" th:errors="*{companyDescription.descriptionCompany}"></span>

                </div>

                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-primary">Opret</button>
                </div>
            </div>
        </form>

    <footer th:replace="fragments/footer :: footerElement"></footer>
</body>
</html>