<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerElement">

    <title>Webshop</title>

</head>
<body>
    <div class="col-auto">

        <h1>Vareliste</h1>

        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th hidden>Id</th>
                <th>Varenavn</th>
                <th>Pris</th>
                <th>Beskrivelse</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="Product : ${product}">
                <td hidden th:text="${Product.productId}"></td>
                <td th:text="${Product.productName}"></td>
                <td th:text="${Product.price}"></td>
                <td th:text="${Product.productDescription}"></td>

                <td>
                    <a class="btn btn-primary" th:href="@{'/products/details/' + ${Product.productId}}" role="button">Flere detaljer</a>
                    <a class="btn btn-primary" th:href="@{'/products/update/' + ${Product.productId}}" role="button">Opdater</a>
                    <a class="btn btn-primary" th:href="@{'/products/delete/' + ${Product.productId}}" role="button">Slet</a>
                </td>
            </tr>
            </tbody>
        </table>

    <!-- Check if errorMessage is not null and not empty
    <div th:if="${status}" th:utext="${status}" class="error"></div>
-->
    <a class="btn btn-primary" th:href="@{/products/create}" role="button">Opret produkt</a>

</div>
<footer th:replace="fragments/footer :: footerElement"></footer>
</body>
</html>