<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Webshop</title>
</head>
<body>

    <h1>Vareliste</h1>
    <table>
        <tr>
            <th hidden>Id</th>
            <th>Varenavn</th>
            <th>Pris</th>
            <th>Beskrivelse</th>
        </tr>
        <tr th:each="product : ${products}">
            <td hidden th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.description}"></td>
            <td>
                <a th:href="@{'/update/' + ${product.id}}">Opdater</a>
                <a th:href="@{'/delete/' + ${product.id}}">Slet</a>
            </td>
        </tr>
    </table>

    <!-- Can not make it work! -->
    <!-- Check if errorMessage is not null and not empty -->
    <div th:if="${status}" th:utext="${status}" class="error">

    </div>




    <a href="create">Opret produkt</a>


</body>
</html>