<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerElement">
    <title>Update</title>
</head>
<body>

<form th:action="@{/update}" method="post">

    <div class="col-auto">
        <div class="col-md-6">
            <h1>Update Product</h1>
            <input type="hidden" name="id" placeholder="Id" th:value="${products.id}">
        </div>

        <div class="form-group col-md-6" >
            <label for="Name">Navn:</label>
            <input type="text" name="name" id="Name" class="form-control" placeholder="Navn" th:value="${products.name}">
        </div>

        <div class="form-group col-md-6" >
            <label for="Price">Pris:</label>
            <input type="text" name="price" id="Price" class="form-control" placeholder="Pris" th:value="${products.price}">
        </div>

        <div class="form-group col-md-6" >
            <label for="Description">Beskrivelse:</label>
            <input type="text" name="description" id="Description" class="form-control" placeholder="Beskrivelse" th:value="${products.description}">
        </div>

        <div class="col-md-6" >
            <button type="submit" class="btn btn-primary">Opdater</button>
        </div>
    </div>
</form>

<footer th:replace="fragments/footer :: footerElement"></footer>
</body>
</html>