<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerElement">

    <title>Webshop</title>

</head>
<body>
<header th:replace="fragments/top_menu :: top_menuElement"></header>
    <div class="col-auto">

        <h1>Virksomheder</h1>

        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th hidden>Id</th>
                <th>Virksomhedsnavn</th>
                <th>Produkter</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="Company : ${company}">
                <td hidden th:text="${Company.companyId}"></td>
                <td th:text="${Company.companyName}"></td>
                <td>
                    <a class="btn btn-primary" th:href="@{'/companies/update/' + ${Company.companyId}}" role="button">Opdater</a>
                    <a class="btn btn-primary" th:href="@{'/companies/delete/' + ${Company.companyId}}" role="button">Slet</a>
                </td>
            </tr>
            </tbody>
        </table>

    <!-- Check if errorMessage is not null and not empty
    <div th:if="${status}" th:utext="${status}" class="error"></div>
-->
    <a class="btn btn-primary" th:href="@{/companies/create}" role="button">Opret virksomhed</a>

</div>
<footer th:replace="fragments/footer :: footerElement"></footer>
</body>
</html>